body {
    background-color: #121212;
    color: #ffffff;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: #1e1e1e;
    color: #ffffff;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    height: 550px;
    object-fit: cover;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-primary {
    background-color: #ff4500;
    border: none;
}

.btn-primary:hover {
    background-color: #e03e00;
}

.container h1 {
    margin-bottom: 30px;
    font-weight: bold;
}

.dropdown-menu {
    background-color: #1e1e1e;
    border-radius: 10px;
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover {
    background-color: #ff4500;
}